.Catalogs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0;
  .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h1 {
      font-family: Bebas Neue;
    }

    .block {
      display: flex;
      gap: 15px;
      // justify-content: space-between;

      .box1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .box2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }

  .catalog_text {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .texth1 {
      h1 {
        font-size: 44px;
        width: 400px;
      }
    }
    .textp {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        width: 450px;
        font-size: 16px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }
}
